* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #9c9898;
}

.wrapper {
  padding-top: 50px;
  position: relative;
  width: 750px;
  height: 650px;
  background: transparent;
  box-shadow: 0 0 25px #fff;
  border: 2px solid #fff;
  overflow: hidden;
}

.wrapper .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.wrapper .form-box.register {
  right: 0;
  padding: 0 40px 0 60px;
  pointer-events: none;
}

.wrapper.active .form-box.register {
  pointer-events: auto;
}

.wrapper .form-box.register .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--1));
}

.form-box h2 {
  font-size: 32px;
  color: #000;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 23px;
  color: #000;
  font-weight: 500;
  border-bottom: 2px solid #000;
  transition: 0.5s;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom-color: #ff7518;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: #0a0a0a;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
  transition: 0.5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: #ff7518;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  border: 2px solid #ff7518;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#081b29, #ff7518, #081b29, #ff7518);
  z-index: -1;
  transition: 0.5s;
}

.btn:hover::before {
  top: 0;
}

.form-box .logreg-link {
  font-size: 14.5px;
  color: #000;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: #ff7518;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.wrapper .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.wrapper .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.wrapper .info-text.register {
  text-align: left;
  left: 0;
  padding: 0 150px 60px 40px;
  pointer-events: none;
}

.wrapper.active .info-text.register {
  pointer-events: auto;
}

.wrapper .info-text.register .animation {
  transform: translateX(-120%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.info-text h2 {
  font-size: 35px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}

.info-text p {
  font-size: 16px;
  color: #fff;
}

.wrapper .bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 700px;
  background: linear-gradient(45deg, #000, #ff7518);
  border-bottom: 3px solid #ff7518;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

.wrapper.active .bg-animate {
  transform: rotate(0) skewY(0);
  transition-delay: 0.5s;
}

.wrapper {
  background: #fff;
}

.wrapper .bg-animate2 {
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: #fff;
  border-top: 3px solid #ff7518;
  transform: rotate(0) skewY(0);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: 0.5s;
}

.wrapper.active .bg-animate2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}

/* Styles for the modal container */
.modal {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Styles for the modal content */
.modal-content {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 0 auto;
}

/* Styles for the modal forms (login and register) */
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for login and registration sections */
.login,
.register {
  display: none;
}

/* Style for the active section (login or register) */
.active {
  display: block;
}

/* Styles for input boxes and buttons */
.input-box {
  margin: 10px 0;
  position: relative;
}

.modal input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.modal label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 5px;
  background: #fff;
}

i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

/* Animation for input boxes and buttons */
.animation {
  transition: all 0.3s ease;
}

/* Show the login section by default */
.login {
  display: block;
}

/* Additional styles for the "Don't have an account? Register" and "Have an account? Login" links */
p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: none; /* Hide all form-box elements in mobile view */
  }

  .modal {
    display: block; /* Show the modal in mobile view */
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    display: block; /* Show all form-box elements in small screens */
  }

  .modal {
    display: none; /* Hide the modal in small screens */
  }
}
